@model UserInfo
@{
    var averageRating = Model.Reviews.Count > 0 ? Model.Reviews.Average(x => x.Rating): 0;
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userId = (int?)ViewData["userId"];
    var allowAddReview = isAuthenticated && !Model.Reviews.Where(x => x.User?.Id == userId).Any();;
   
    
}

<div class="card review-target" data-id="@Model.Id">
    @if (Model.MainImageFile != null)
    {
        <img src="@Model.MainImageFile.Src" class="card-img-top" alt="@Model.Name">
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p><span>Професія</span>: @Model.Profession?.Title</p>
        <p class="card-text">
            @Model.Description
        </p>
        <div>
            @foreach (var skill in Model.UserSkills)
            {
                <span class="badge rounded-pill" style="background-color: @skill.Skill.Color">
                    @if (skill.Skill.ImageFile != null)
                    {
                        <img style="width: 20px;" src="@skill.Skill.ImageFile.Src" alt="@skill.Skill.Title"/>
                    }
                    @skill.Skill.Title
                </span>
            }
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary-outline @(allowAddReview? "add-review": "")">
            <img style="width: 20px" src="~/img/like-svgrepo-com.svg" alt="like">
            <span style="margin-left: 5px;">@averageRating.ToString("0.00")</span>
        </button>
    </div>
</div>
