@model UserInfoForm
@{
    var list = ViewData["professions"] as SelectList;
}
<div class="mb-3">
    <div>Hello world!</div>
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.Email, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.ProfessionId, new { @class = "form-label" })
    @Html.DropDownListFor(x => x.ProfessionId, list, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProfessionId, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5 })
    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.Birthday, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    @Html.ValidationMessageFor(x => x.Birthday, null, new { @class = "text-danger" })
</div>
<div class="mb-3 form-check">
    @Html.LabelFor(x => x.IsActive, new { @class = "form-check-label" })
    @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
    @Html.ValidationMessageFor(x => x.IsActive, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.ExpirienseYears, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.ExpirienseYears, new { @class = "form-control", type = "number", min = 0, max = 99, step = 1 })
    @Html.ValidationMessageFor(x => x.ExpirienseYears, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.Salary, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Salary, new { @class = "form-control", type = "number", min = 0, step = 0.01 })
    @Html.ValidationMessageFor(x => x.Salary, null, new { @class = "text-danger" })
</div>
<div class="mb-3">
    @Html.LabelFor(x => x.Gallery, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Gallery, new { @class = "form-control", type = "file", accept = "*.jpg,*.jpeg,*.png", multiple = true })
    @Html.ValidationMessageFor(x => x.Gallery, null, new { @class = "text-danger" })
</div>
<div class="map-edit" id="map"></div>
@Html.HiddenFor(x => x.Lat)
@Html.HiddenFor(x => x.Lng)
