@model UserInfo
@{
    ViewData["Title"] = Model.Name;

    var averageRating = Model.Reviews.Count > 0 ? Model.Reviews.Average(x => x.Rating) : 0;
    ImageFile? mainImage = Model.MainImageFile;
    if (Model.MainImageFile == null)
    {
        mainImage = Model.ImageFiles.FirstOrDefault();
    }
}
<div>
    <h1 class="display-4">Hello @Model.Name</h1>
    <h3>Email: @Model.Email</h3>
    <div>ID: @Model.Id</div>
    <div>Професія: @Model.Profession</div>

    <div>
        Main image
        @if (mainImage != null)
        {
            @await Html.PartialAsync("_ImageComponent", mainImage,
                new ViewDataDictionary(ViewData)
                {
                    { "maxWidth", "600px" },
                    { "borderColor", "red" }
                })
        }
    </div>

    @if (Model.ImageFiles.Count > 0)
    {
        <div style="display: flex;">
            @foreach (var galleryItem in Model.ImageFiles.Where(x => x.Src != mainImage?.Src).ToList())
            {
                <div style="position: relative">
                    @await Html.PartialAsync("_ImageComponent", galleryItem,
                        new ViewDataDictionary(ViewData)
                        {
                            { "maxWidth", "300px" },
                            { "borderColor", "green" }
                        })
                    <button data-id="@Model.Id" data-image-id="@galleryItem.Id"
                            class="btn btn-sm btn-outline-success set-main-image"
                            style="position: absolute; right: 10px; top: 10px;">Set main
                    </button>
                </div>
            }
        </div>
    }
    <div>
        @foreach (var skill in Model.UserSkills)
        {
            <span class="badge rounded-pill" style="background-color: @skill.Skill.Color">
                @if (skill.Skill.ImageFile != null)
                {
                    <img style="width: 20px;" src="@skill.Skill.ImageFile.Src" alt="@skill.Skill.Title"/>
                }
                @skill.Skill.Title
            </span>
        }
    </div>
    @if (Model.Reviews.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h3>Average Rating: @averageRating.ToString("0.00") </h3>
            </div>
            @foreach (var review in Model.Reviews)
            {
                <div class="col-md-3">
                    <div class="card my-3">
                        <div class="card-body">
                            <p class="card-text">@review.Text</p>
                            <p class="card-text">@review.Rating</p>
                        </div>
                        <div class="card-footer">
                            @review.User.Email
                            <div>
                                <small class="text-muted">@review.CreatedAt.ToString("dd.MM.yyyy HH:mm")</small>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <a asp-area=""
       asp-controller="UserInfo"
       asp-action="Index"
       class="btn btn-outline-success">Return</a>
</div>


@section Scripts {
    <script>
        document.querySelectorAll(".set-main-image").forEach(el => {
            el.addEventListener("click", e => {
                console.log("click on set maion image button")
                const itemId = e.target.getAttribute("data-id")
                const imageId = e.target.getAttribute("data-image-id")
                console.log(imageId)
                console.log(itemId)

                fetch(`/UserInfo/ChangeMainImage/${itemId}?imageId=${imageId}`)
                    .then(() => {
                        window.location.reload()
                    })

            })
        })
    </script>


}