@model ResetPasswordForm
@{
    var user = ViewData["user"] as User;
}

<form method="post" enctype="multipart/form-data"
      asp-area="Auth" asp-controller="User" 
      asp-action="ResetPassword"
      asp-route-id="@user.Id"
      >
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="mb-3">
                @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Change</button>
        <a asp-area="Auth"
           asp-controller="User"
           asp-action="Index"
           class="btn btn-outline-success">Return</a>
    </div>
</form>